<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Place a manatee - Your friendly manatee placeholder service</title>
    <meta name="description" content="A hardcore service for getting pictures of mighty manatees for use as placeholders in your designs or code." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <link href="/favicon.png" rel="icon" type="image/png" />
    <style type="text/css">
        div.container {
            margin-top: 1em;
        }

        section {
            margin: 1em 0;
        }

        footer {
            border-top: 1px solid #eee;
            padding: 0.33em;
            text-align: right;
        }
    </style>
</head>
<body>

<div class="container">

    <h1 class="page-header">Place a manatee <small>Your friendly manatee placeholder service</small></h1>

    {% block content %}
    {% endblock %}

    <footer>
        Service provided as-is by Mikko "Pekkis" Forsström, a manatee aficionado from Finland --&gt;
        <a href="mailto:pekkisx@gmail.com">Mail</a> |
        <a href="https://twitter.com/pekkisx">Twitter</a> |
        <a href="https://linkedin.com/in/pekkis">LinkedIn</a> |
        <a href="https://github.com/pekkis">Github</a>
    </footer>


</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-148617-14']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
