{% extends "base.html.twig" %}

{% block content %}

    <section class="row">

        <div class="span12">

            <strong>Error:</strong> {{ message }}

        </div>

    </section>

{% endblock %}
