{% extends "base.html.twig" %}

{% block content %}

    <h2>Specimens</h2>

    <p>
        These are our resident manatees. Aren't they adorable?
    </p>

    <p>

    </p>

    <section id="thumbnails">
        <ul class="thumbnails">
        {% for manatee in realManatees %}
            <li class="span4">
                <div class="thumbnail">
                    <img src="/{{ loop.index }}/360/270.jpg" />
                    <div class="caption">
                        Specimen #{{ loop.index }}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>


    <h3 id="vector-art">Vector art specimens</h3>

    <p>
        These are our vector art manatees. Aren't they uhh.. nice?
    </p>

    <p>

    </p>

    <section id="thumbnails">
        <ul class="thumbnails">
            {% for manatee in svgManatees %}
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/{{ loop.index }}/360/270.svg" />
                        <div class="caption">
                            Specimen #{{ loop.index }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
